@font-face {
    font-family: 'Jungle Adventurer';
    src: url('JungleAdventurerRegular.woff2') format('woff2'),
        url('JungleAdventurerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

