@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/fonts/Inter-VariableFontopszwght.eot");
  src: url("./assets/fonts/fonts/Inter-VariableFontopszwght.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/fonts/Inter-VariableFontopszwght.woff2") format("woff2"),
    url("./assets/fonts/fonts/Inter-VariableFontopszwght.woff") format("woff"),
    url("./assets/fonts/fonts/Inter-VariableFontopszwght.ttf")
      format("truetype"),
    url("./assets/fonts/fonts/Inter-VariableFontopszwght.svg#Inter")
      format("svg");
}

@font-face {
  font-family: "Jungle Adventurer";
  src: url("./assets/fonts/JungleAdventurerRegular.woff2") format("woff2"),
    url("./assets/fonts/JungleAdventurerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-lg);
  font-family: "Inter", serif;
  font-weight: var(--font-weight-regular);

  background: var(--color-background);

  color: var(--color-text);

  min-height: 100vh;
}

:root {
  /* Colors */
  --color-primary: #101b27;
  --color-secondary: #2c3e50;
  --color-background: #1b2837;
  --color-text: #c0c5cb;
  --color-btn-primary-text: #ffff;
  --color-border: #6b7885;

  /* (Mark Colors) */
  --color-mark-x: #18bc9c;
  --color-mark-o: #ee6677;

  /* Spacing (rem-based) */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */

  /* Button padding */
  --padding-btn-sm: 0.4rem 0.8rem;
  --padding-btn-md: 0.6rem 0.8rem;
  --padding-btn-lg: 0.8rem 1.5rem;

  /* Border-Radius */
  --radius-x-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-x-large: 24px;
  --radius-round: 50%;

  /* Board Separator */
  --board-separator: 18px solid var(--color-border);

  /* Border */
  --border-default: 1px solid #6b78854b;
  --border-btn-default: 1px solid #ffffff57;

  /* Font Sizes (rem-based) */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
