@import url("./global.css");

body {
  display: grid;
  place-items: center;
}

button {
  border: 0;
  cursor: pointer;
}
.menu {
  padding: var(--spacing-sm);

  width: 80%;
  height: 100%;

  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
}

.menu__game-preview {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.menu__game-preview-img {
  width: 100%;
  height: auto;
}

/* Options */
.options {
  background-color: var(--color-primary);
  border-radius: var(--radius-small);
  padding: var(--spacing-lg);
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-xl);
}

/* Options Header */
.options__header {
  width: 100%;
  display: flex;
  gap: var(--spacing-sm);
}

.options__header-icon {
  grid-area: icon;
  width: 96px;
  height: auto;
}

.options__headline--main {
  margin: 0;
}

.options__headline--sub {
  margin-top: 0.5rem;
}

/* Options Main */
.options__main {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.options__btn {
  padding: var(--padding-btn-lg);
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-small);
  color: var(--color-btn-primary-text);

  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.options__btn--primary {
  background-color: var(--color-btn-primary);
}

.options__btn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options__btn-text--title {
  margin: 0;
  width: fit-content;
  font-size: var(--font-size-xl);
}

.options__btn-text--description {
  margin-bottom: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
}

.options__btn-icon {
  width: 64px;
  height: auto;
}

.options__btn--primary:hover {
  background-color: var(--color-btn-primary-hover);
}
.options__btn--ghost {
  background-color: var(--color-btn-ghost);
  border: var(--border-btn-default);
}

.options__btn--ghost:hover {
  border: var(--border-default);
  background-color: var(--color-secondary);
}
